@import 'tailwindcss';

@theme {
	--color-brand-fore: #fff;
	--color-brand-back: #131313;
	--color-brand-highlight: #89a5a9;
	--font-geist: 'Geist', sans-serif;
}

html,
body {
	background-color: var(--color-brand-back);
	color: var(--color-brand-fore);
	font-family: var(--font-geist);
}

::-webkit-scrollbar-track {
	background-color: #89a5a9;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #89a5a9;
}

::-webkit-scrollbar-thumb {
	background-color: #131313;
	border: 2px solid #89a5a9;
	border-radius: 100px;
}
